/* Body */
body {
		/* para colocar una imagen de fondo */
	background-image:url("../Imagenes/fondo1.jpg");
		/*para que no se repita la imagen de fondo*/
	/*background-repeat: no-repeat;*/
		/*para ajustar el tamaño de la imagen*/
	/*background-size: 100% 100%;*/
		/* color de fondo de la pagina*/
	/*background-color:;*/
	/*Font family es para el tipo de letra*/
	font-family: "Lucida Console", "Courier New", monospace;
	/*Font-size es para el tamaño se expresa en pixeles*/
	font-size: 40px;
	/*Color es para el color de las letras:*/
	color: #17202A;
	}
	
hr{
	/*Border es para la linea
	tamaño en pixeles Tipo de linea y color*/
	border: 5px solid #6E2C00;
	/*border-radius es para el terminado de las orillas*
	el radio que tendra se expresa en pixeles*/
	border-radius: 5px;
}

p{
	/*text-align se utiliza para alinear el texto
	por defaut es alineado a la izquierda*/
	text-align: justifity;
	font-size: 15px;
	color: #154360;
	/*background-color: #1B4F72;*/
}

table,td,tr{
	/*linea grosor y tipo de linea*/
	border:3px solid;
	/*color de la linea*/
	border-color: #1B4F72;
	/*alineacion del texto*/
	text-align:center;
	/*color de fondo*/
	background-color: #AED6F1;
}

th{
	background-color: white;
}

ul{
	/*indica el tipo de viñeta, en este caso
	un circulo, puede ser tambien un cuadro*/
	list-style-type: circle;
	/*se indica la posicion de la viñeta*/
	list-style-position: inside;
	font-size: 15px;
	font-family: mifuente1;
	color: #17202A;
}

ol{
	/*algunos de los valores de list-type son:
	lower-alpha; lower-roman; upper-alpha;*/
	list-style-type: upper-roman;
	list-style-position: inside;
	font-size: 15px;
	font-family: mifuente1;
	color: #17202A;
}

.pie {
	font-size: 20px;
	font-family: mifuente1;
	color: #0B5345;
}

.pie2 {
	font-size: 15px;
	font-family: mifuente1;
	color: #154360;
}

.tabla {
	font-size: 25px;
	font-family: mifuente2;
	color: #17202A;
}

.texto {
	font-size: 40px;
	color: #4A235A;
	font-weight: bold;
	font-family: mifuente4;
}

.marquesina{
	width: 250px;
	height: 250px;
}

.botones {
	border-radius: 50%;
	width:100px;
	height:100px;
}

.imagblas {
	width: 200px;
	height: 200px;
}

.imagtras {
	width: 600px;
	height: 400px;
	padding: 5px;
	border:12px solid #3700A5
}

@font-face{
	font-family: mifuente1; 
	src: url("../fuentes/Roboto-Bold.ttf")
}

@font-face{
	font-family: mifuente2; 
	src: url("../fuentes/Cream Cake.otf")
}

@font-face{
	font-family: mifuente3; 
	src: url("../fuentes/Cherry Bird Demo.ttf")
}

@font-face{
	font-family: mifuente4; 
	src: url("../fuentes/Gobold Bold Italic.otf")
}

@font-face{
	font-family: mifuente5; 
	src: url("../fuentes/Mermaid Swash Caps.ttf")
}

.fuentegoogle{
	font-family: 'Alkatra', cursive;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:60px;
	text-align: center;
}

/*Uso de divs*/
/*Div o caja para el encabezado*/

*{
	margin:0px;
	padding:0px;
}

div#top{
	width:100%;
	height:100px;
	background-image:linear-gradient(#CB4335,#E59866);
}

div#principal{
	margin:auto;
	margin-top:10px;
	width:90%;
	height:950px;
	background-image:radial-gradient(#2471A3,#AED6F1);
}

div#piep{
	margin-top:10px;
	width:100%;
	height:100px;
	background-image: linear-gradient(#138D75,#82E0AA);
}

div#top1{
	width:100%;
	height:100px;
	background-image:linear-gradient(#CB4335,#E59866);
}

div#principal1{
	margin:auto;
	margin-top:10px;
	width:90%;
	height:1700px;
	background-image:radial-gradient(#2471A3,#AED6F1);
}

div#piep1{
	margin-top:10px;
	width:100%;
	height:100px;
	background-image: linear-gradient(#138D75,#82E0AA);
}


div#top2{
	width:100%;
	height:100px;
	background-image:linear-gradient(#CB4335,#E59866);
}

div#principal2{
	margin:auto;
	margin-top:10px;
	width:90%;
	height:1100px;
	background-image:radial-gradient(#2471A3,#AED6F1);
}

div#piep2{
	margin-top:10px;
	width:100%;
	height:200px;
	background-image: linear-gradient(#138D75,#82E0AA);
}

div#top3{
	width:100%;
	height:100px;
	background-image:linear-gradient(#CB4335,#E59866);
}

div#principal3{
	margin:auto;
	margin-top:10px;
	width:90%;
	height:950px;
	background-image:radial-gradient(#2471A3,#AED6F1);
}

div#piep3{
	margin-top:10px;
	width:100%;
	height:100px;
	background-image: linear-gradient(#138D75,#82E0AA);
}

.caja{
	height:300px;
	width:200px;
	background:#C39BD3;
	border:1px solid #6E2C00;
	margin: 5px;
	color:black;
	text-align:center;
	display: inline-block;
}

.caja:hover{
	box-shadow:0 0 10px red;
	transform:scale(1.3);
}

.caja-texto{
	padding-top:2px;
	font-size:15px;
	color:blue;
	font-weight:bold;
}

.texto-adicional{
	padding-top:5px;
	font-size:15px;
}

.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}

.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}

.itemcarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

.itemcarrouselTarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box;
}

.itemcarrouselArrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}

.itemcarrouselArrows>i :hover{
	cursor:pointer;
}

.contercarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-between;
}

.contercarrouselcontroller>a{
	text-decoration:none;
	font-size:32px;
	color:grey;
}

.itemcarrouselArrows>a>i{
	color:white;
}

div#top10{
	width:100%;
	height:100px;
	background-image:linear-gradient(#CB4335,#E59866);
}

div#principal10{
	margin:auto;
	margin-top:10px;
	width:90%;
	height:1000px;
	background-image:radial-gradient(#2471A3,#AED6F1);
}

div#piep10{
	margin-top:10px;
	width:100%;
	height:100px;
	background-image: linear-gradient(#138D75,#82E0AA);
}

.ca{
	height:105px;
	width:105px;
	background:#053687;
	border:10px solid #154360;
	margin:5px;
	color:#CD6155;
	text-align:center;
	display:inline-block;
	border-radius:50%;
}

.ca:hover{
	box-shadow:0 0 10 px red;
	transform:scale(1.3);
}

.texto10 {
	font-size: 40px;
	color: #212F3D;
	font-weight: bold;
	font-family: mifuente4;
}

.pie10 {
	font-size: 20px;
	font-family: mifuente1;
	color: #081271;
}





















